<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <title>Profit calculator for startups </title>
    </head>
    <body>
        <h1> <div style="text-align: center"> Profit Prediction for startups</div></h1>
        <hr>
        <br>

        <h2> <div style ="text-align: center">Enter the following values and click on submit button</div></h2>

        <div class='container'>
            <div class='row'>
                <div class ='col-6'>
                    <form method="POST" action="/predict">

                        <div class ="form-group">
                            <label for="NewYork"><p class="font-weight-bold">NewYork</p></label>
                            <input type="text" name="NewYork">
                            <small if="NyHelp" class ="form-text text-muted">Enter 1 if the state selected is New York else enter 0</small>
                        </div>

                        <div class ="form-group">
                            <label for="California"><p class="font-weight-bold">California</p></label>
                            <input type="text" name ="California">
                            <small id="CaliforniaHelp" class ="form-text text-muted">Enter 1 is the state selected is California else enter 0 .</small>
                        </div>

                        <div class ="form-group">
                            <label for="Florida"><p class ="font-weight-bold">Florida</p></label>
                            <input type="text" name="Florida">
                            <small id ="FloridaHelp" class="form-text text-muted">Enter 1 if the state selected is Florida else enter 0</small>  
                        </div>

                        <div class="form-group">
                            <label for="RnD_Spend"><p class="font-weight-bold">RnD_Spend </p></label>
                            <input type="text" name="RnD_Spend">
                            <small id="RnDSpendHelp" class="form-text text-muted">Enter the value for RnD spend</small>
                        </div>

                        <div class="form-group">
                            <label for ="Admin_Spend"><p class ="font-weight-bold">Admin_Spend</p></label>
                            <input type="text" name="Admin_Spend">
                            <small id="AdminSpendHelp" class="form-text text-muted">Enter the value for Admin Spend</small>
                        </div>

                        <div class="form-group">
                                <label for="Market_Spend"><p class="font-weight-bold">Market_Spend</p></label>
                                <input type="text" name="Market_Spend">
                                <small id="MarketSpendHelp" class="form-text text-muted">Enter the dollar amount for Market Spend</small>
                        </div>
                        <input class='btn btn-primary' type='submit' value="Submit">



                    </form>
                </div>
            </div>
        </div>



    </body>
</html>